# Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a = np.arange(0,500).reshape(100,5)
a

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54],
       [ 55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64],
       [ 65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74],
       [ 75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84],
       [ 85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94],
       [ 95,  96,  97,  98,  99],
       [100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124],
       [125, 126, 127, 128, 129],
       [130, 131, 132, 133, 134],
       [135, 136, 137, 138, 139],
       [140, 141, 142, 143, 144],
       [145, 146, 147, 148, 149],
       [150, 151, 152, 153, 154],
       [155, 156, 157, 158, 159],
       [160, 161, 162, 163, 164],
       [165, 166, 167, 168, 169],
       [170, 171, 172, 173, 174],
       [175, 176, 177, 178, 179],
       [180, 181, 182, 183, 184],
       [185, 186, 187, 188, 189],
       [190, 191, 192, 193, 194],
       [195, 196, 197, 198, 199],
       [200, 201, 202, 203, 204],
       [205, 206, 207, 208, 209],
       [210, 211, 212, 213, 214],
       [215, 216, 217, 218, 219],
       [220, 221, 222, 223, 224],
       [225, 226, 227, 228, 229],
       [230, 231, 232, 233, 234],
       [235, 236, 237, 238, 239],
       [240, 241, 242, 243, 244],
       [245, 246, 247, 248, 249],
       [250, 251, 252, 253, 254],
       [255, 256, 257, 258, 259],
       [260, 261, 262, 263, 264],
       [265, 266, 267, 268, 269],
       [270, 271, 272, 273, 274],
       [275, 276, 277, 278, 279],
       [280, 281, 282, 283, 284],
       [285, 286, 287, 288, 289],
       [290, 291, 292, 293, 294],
       [295, 296, 297, 298, 299],
       [300, 301, 302, 303, 304],
       [305, 306, 307, 308, 309],
       [310, 311, 312, 313, 314],
       [315, 316, 317, 318, 319],
       [320, 321, 322, 323, 324],
       [325, 326, 327, 328, 329],
       [330, 331, 332, 333, 334],
       [335, 336, 337, 338, 339],
       [340, 341, 342, 343, 344],
       [345, 346, 347, 348, 349],
       [350, 351, 352, 353, 354],
       [355, 356, 357, 358, 359],
       [360, 361, 362, 363, 364],
       [365, 366, 367, 368, 369],
       [370, 371, 372, 373, 374],
       [375, 376, 377, 378, 379],
       [380, 381, 382, 383, 384],
       [385, 386, 387, 388, 389],
       [390, 391, 392, 393, 394],
       [395, 396, 397, 398, 399],
       [400, 401, 402, 403, 404],
       [405, 406, 407, 408, 409],
       [410, 411, 412, 413, 414],
       [415, 416, 417, 418, 419],
       [420, 421, 422, 423, 424],
       [425, 426, 427, 428, 429],
       [430, 431, 432, 433, 434],
       [435, 436, 437, 438, 439],
       [440, 441, 442, 443, 444],
       [445, 446, 447, 448, 449],
       [450, 451, 452, 453, 454],
       [455, 456, 457, 458, 459],
       [460, 461, 462, 463, 464],
       [465, 466, 467, 468, 469],
       [470, 471, 472, 473, 474],
       [475, 476, 477, 478, 479],
       [480, 481, 482, 483, 484],
       [485, 486, 487, 488, 489],
       [490, 491, 492, 493, 494],
       [495, 496, 497, 498, 499]])

In [4]:
df = pd.DataFrame(a, columns=['col1','col2','col3','col4','col5'], \
                  index=['emp'+str(i) for i in range(100)])

In [5]:
df.head(10)

      col1  col2  col3  col4  col5
emp0     0     1     2     3     4
emp1     5     6     7     8     9
emp2    10    11    12    13    14
emp3    15    16    17    18    19
emp4    20    21    22    23    24
emp5    25    26    27    28    29
emp6    30    31    32    33    34
emp7    35    36    37    38    39
emp8    40    41    42    43    44
emp9    45    46    47    48    49

In [6]:
df.tail()

       col1  col2  col3  col4  col5
emp95   475   476   477   478   479
emp96   480   481   482   483   484
emp97   485   486   487   488   489
emp98   490   491   492   493   494
emp99   495   496   497   498   499

In [7]:
df.index

Index(['emp0', 'emp1', 'emp2', 'emp3', 'emp4', 'emp5', 'emp6', 'emp7', 'emp8',
       'emp9', 'emp10', 'emp11', 'emp12', 'emp13', 'emp14', 'emp15', 'emp16',
       'emp17', 'emp18', 'emp19', 'emp20', 'emp21', 'emp22', 'emp23', 'emp24',
       'emp25', 'emp26', 'emp27', 'emp28', 'emp29', 'emp30', 'emp31', 'emp32',
       'emp33', 'emp34', 'emp35', 'emp36', 'emp37', 'emp38', 'emp39', 'emp40',
       'emp41', 'emp42', 'emp43', 'emp44', 'emp45', 'emp46', 'emp47', 'emp48',
       'emp49', 'emp50', 'emp51', 'emp52', 'emp53', 'emp54', 'emp55', 'emp56',
       'emp57', 'emp58', 'emp59', 'emp60', 'emp61', 'emp62', 'emp63', 'emp64',
       'emp65', 'emp66', 'emp67', 'emp68', 'emp69', 'emp70', 'emp71', 'emp72',
       'emp73', 'emp74', 'emp75', 'emp76', 'emp77', 'emp78', 'emp79', 'emp80',
       'emp81', 'emp82', 'emp83', 'emp84', 'emp85', 'emp86', 'emp87', 'emp88',
       'emp89', 'emp90', 'emp91', 'emp92', 'emp93', 'emp94', 'emp95', 'emp96',
       'emp97', 'emp98', 'emp99'],
      dtype='object')

In [8]:
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5'], dtype='object')

In [9]:
df.values

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54],
       [ 55,  56,  57,  58,  59],
       [ 60,  61,  62,  63,  64],
       [ 65,  66,  67,  68,  69],
       [ 70,  71,  72,  73,  74],
       [ 75,  76,  77,  78,  79],
       [ 80,  81,  82,  83,  84],
       [ 85,  86,  87,  88,  89],
       [ 90,  91,  92,  93,  94],
       [ 95,  96,  97,  98,  99],
       [100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [110, 111, 112, 113, 114],
       [115, 116, 117, 118, 119],
       [120, 121, 122, 123, 124],
       [125, 126, 127, 128, 129],
       [130, 131, 132, 133, 134],
       [135, 136, 137, 138, 139],
       [140, 141, 142, 143, 144],
       [145, 146, 147, 148, 149],
       [150, 151, 152, 153, 154],
       [155, 156, 157, 158, 159],
       [160, 161, 162, 163, 164],
       [165, 166, 167, 168, 169],
       [170, 171, 172, 173, 174],
       [175, 176, 177, 178, 179],
       [180, 181, 182, 183, 184],
       [185, 186, 187, 188, 189],
       [190, 191, 192, 193, 194],
       [195, 196, 197, 198, 199],
       [200, 201, 202, 203, 204],
       [205, 206, 207, 208, 209],
       [210, 211, 212, 213, 214],
       [215, 216, 217, 218, 219],
       [220, 221, 222, 223, 224],
       [225, 226, 227, 228, 229],
       [230, 231, 232, 233, 234],
       [235, 236, 237, 238, 239],
       [240, 241, 242, 243, 244],
       [245, 246, 247, 248, 249],
       [250, 251, 252, 253, 254],
       [255, 256, 257, 258, 259],
       [260, 261, 262, 263, 264],
       [265, 266, 267, 268, 269],
       [270, 271, 272, 273, 274],
       [275, 276, 277, 278, 279],
       [280, 281, 282, 283, 284],
       [285, 286, 287, 288, 289],
       [290, 291, 292, 293, 294],
       [295, 296, 297, 298, 299],
       [300, 301, 302, 303, 304],
       [305, 306, 307, 308, 309],
       [310, 311, 312, 313, 314],
       [315, 316, 317, 318, 319],
       [320, 321, 322, 323, 324],
       [325, 326, 327, 328, 329],
       [330, 331, 332, 333, 334],
       [335, 336, 337, 338, 339],
       [340, 341, 342, 343, 344],
       [345, 346, 347, 348, 349],
       [350, 351, 352, 353, 354],
       [355, 356, 357, 358, 359],
       [360, 361, 362, 363, 364],
       [365, 366, 367, 368, 369],
       [370, 371, 372, 373, 374],
       [375, 376, 377, 378, 379],
       [380, 381, 382, 383, 384],
       [385, 386, 387, 388, 389],
       [390, 391, 392, 393, 394],
       [395, 396, 397, 398, 399],
       [400, 401, 402, 403, 404],
       [405, 406, 407, 408, 409],
       [410, 411, 412, 413, 414],
       [415, 416, 417, 418, 419],
       [420, 421, 422, 423, 424],
       [425, 426, 427, 428, 429],
       [430, 431, 432, 433, 434],
       [435, 436, 437, 438, 439],
       [440, 441, 442, 443, 444],
       [445, 446, 447, 448, 449],
       [450, 451, 452, 453, 454],
       [455, 456, 457, 458, 459],
       [460, 461, 462, 463, 464],
       [465, 466, 467, 468, 469],
       [470, 471, 472, 473, 474],
       [475, 476, 477, 478, 479],
       [480, 481, 482, 483, 484],
       [485, 486, 487, 488, 489],
       [490, 491, 492, 493, 494],
       [495, 496, 497, 498, 499]])

In [10]:
df.shape

(100, 5)

In [11]:
df['col3']

emp0       2
emp1       7
emp2      12
emp3      17
emp4      22
        ...
emp95    477
emp96    482
emp97    487
emp98    492
emp99    497
Name: col3, Length: 100, dtype: int64

In [12]:
df.col3

emp0       2
emp1       7
emp2      12
emp3      17
emp4      22
        ...
emp95    477
emp96    482
emp97    487
emp98    492
emp99    497
Name: col3, Length: 100, dtype: int64

In [13]:
df[['col1', 'col3']]

       col1  col3
emp0      0     2
emp1      5     7
emp2     10    12
emp3     15    17
emp4     20    22
...     ...   ...
emp95   475   477
emp96   480   482
emp97   485   487
emp98   490   492
emp99   495   497

[100 rows x 2 columns]

In [14]:
df.loc[['emp'+str(i) for i in range(20,30)],['col2','col4','col5']]  #for the levels

       col2  col4  col5
emp20   101   103   104
emp21   106   108   109
emp22   111   113   114
emp23   116   118   119
emp24   121   123   124
emp25   126   128   129
emp26   131   133   134
emp27   136   138   139
emp28   141   143   144
emp29   146   148   149

In [15]:
df.iloc[15:20,2:4]   #for the positining

       col3  col4
emp15    77    78
emp16    82    83
emp17    87    88
emp18    92    93
emp19    97    98

In [16]:
df[['col1', 'col3']][df.col3%2 == 0]

       col1  col3
emp0      0     2
emp2     10    12
emp4     20    22
emp6     30    32
emp8     40    42
emp10    50    52
emp12    60    62
emp14    70    72
emp16    80    82
emp18    90    92
emp20   100   102
emp22   110   112
emp24   120   122
emp26   130   132
emp28   140   142
emp30   150   152
emp32   160   162
emp34   170   172
emp36   180   182
emp38   190   192
emp40   200   202
emp42   210   212
emp44   220   222
emp46   230   232
emp48   240   242
emp50   250   252
emp52   260   262
emp54   270   272
emp56   280   282
emp58   290   292
emp60   300   302
emp62   310   312
emp64   320   322
emp66   330   332
emp68   340   342
emp70   350   352
emp72   360   362
emp74   370   372
emp76   380   382
emp78   390   392
emp80   400   402
emp82   410   412
emp84   420   422
emp86   430   432
emp88   440   442
emp90   450   452
emp92   460   462
emp94   470   472
emp96   480   482
emp98   490   492

In [17]:
df[['col1','col3']][(df.col1%2==0) & (df.col3 < 50)]

      col1  col3
emp0     0     2
emp2    10    12
emp4    20    22
emp6    30    32
emp8    40    42

# Pandas Merge

In [18]:
import pandas as pd

one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,6])

In [19]:
one

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78

In [20]:
two

    Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
6  Betty       sub5            88

In [21]:
data = pd.concat([one,two],axis=0)
data

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
6   Betty       sub5            88

In [22]:
pd.concat([one,two],axis=1)

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1          98.0  Billy       sub2          89.0
2     Amy       sub2          90.0  Brian       sub4          80.0
3   Allen       sub4          87.0   Bran       sub3          79.0
4   Alice       sub6          69.0  Bryce       sub6          97.0
5  Ayoung       sub5          78.0    NaN        NaN           NaN
6     NaN        NaN           NaN  Betty       sub5          88.0

In [23]:
data.loc[1,:]

    Name subject_id  Marks_scored
1   Alex       sub1            98
1  Billy       sub2            89

In [24]:
pd.concat([one,two],axis=1,join='outer')

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1          98.0  Billy       sub2          89.0
2     Amy       sub2          90.0  Brian       sub4          80.0
3   Allen       sub4          87.0   Bran       sub3          79.0
4   Alice       sub6          69.0  Bryce       sub6          97.0
5  Ayoung       sub5          78.0    NaN        NaN           NaN
6     NaN        NaN           NaN  Betty       sub5          88.0

In [25]:
data = pd.merge(one,two,how='inner',on='subject_id',suffixes=('_one','_two'))
data

  Name_one subject_id  Marks_scored_one Name_two  Marks_scored_two
0      Amy       sub2                90    Billy                89
1    Allen       sub4                87    Brian                80
2    Alice       sub6                69    Bryce                97
3   Ayoung       sub5                78    Betty                88

In [26]:
data[data.Name_one == data.Name_two]

Empty DataFrame
Columns: [Name_one, subject_id, Marks_scored_one, Name_two, Marks_scored_two]
Index: []

In [27]:
pd.merge(one,two,how='outer',on='subject_id',)

   Name_x subject_id  Marks_scored_x Name_y  Marks_scored_y
0    Alex       sub1            98.0    NaN             NaN
1     Amy       sub2            90.0  Billy            89.0
2   Allen       sub4            87.0  Brian            80.0
3   Alice       sub6            69.0  Bryce            97.0
4  Ayoung       sub5            78.0  Betty            88.0
5     NaN       sub3             NaN   Bran            79.0

In [28]:
one

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78

In [29]:
two

    Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
6  Betty       sub5            88

In [30]:
pd.merge(one,two,how='right',on='subject_id')

   Name_x subject_id  Marks_scored_x Name_y  Marks_scored_y
0     Amy       sub2            90.0  Billy              89
1   Allen       sub4            87.0  Brian              80
2   Alice       sub6            69.0  Bryce              97
3  Ayoung       sub5            78.0  Betty              88
4     NaN       sub3             NaN   Bran              79

In [31]:
pd.merge(one,two,how='left',on='subject_id')

   Name_x subject_id  Marks_scored_x Name_y  Marks_scored_y
0    Alex       sub1              98    NaN             NaN
1     Amy       sub2              90  Billy            89.0
2   Allen       sub4              87  Brian            80.0
3   Alice       sub6              69  Bryce            97.0
4  Ayoung       sub5              78  Betty            88.0

In [32]:
print(r'Machine\nLearning')

Machine\nLearning

In [33]:
data = pd.read_csv(r"ign.csv")

In [34]:
data.shape

(18625, 11)

In [35]:
data.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [36]:
data[(data.score == 9) & (data.editors_choice == 'Y')]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
7,7,Amazing,Guild Wars 2,/games/guild-wars-2/pc-896298,PC,9.0,RPG,Y,2012,9,11
13,13,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/xbox-360-129276,Xbox 360,9.0,"Action, Adventure",Y,2012,9,7
14,14,Amazing,Mark of the Ninja,/games/mark-of-the-ninja-135615/pc-143761,PC,9.0,"Action, Adventure",Y,2012,9,7
...,...,...,...,...,...,...,...,...,...,...,...
18527,18527,Amazing,Valkyria Chronicles Remastered,/games/valkyria-chronicles/ps4-20045988,PlayStation 4,9.0,"Action, RPG",Y,2016,5,10
18533,18533,Amazing,Oculus Rift,/games/oculus-rift/pc-20022665,PC,9.0,Hardware,Y,2016,3,31
18557,18557,Amazing,Hearts of Iron IV,/games/hearts-of-iron-iv/pc-20012080,PC,9.0,Strategy,Y,2016,6,6
18594,18594,Amazing,Kerbal Space Program,/games/kerbal-space-program-139713/ps4-20039069,PlayStation 4,9.0,Simulation,Y,2016,7,18
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29

In [37]:
a = len(data[data.editors_choice == 'N'])
b = len(data[data.editors_choice == 'Y'])
print(a)
print(b)

15108
3517

In [38]:
len(data[data.score_phrase == 'Amazing'])

1804

In [39]:
data[(data.release_year >= 2014) | ((data.release_year == 2013) & (data.release_month >= 8))]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
17106,17106,Good,The Wonderful 101,/games/the-wonderful-101/wii-u-135749,Wii U,7.4,Action,N,2013,8,18
17107,17107,Great,Disney Infinity -- PC Game,/games/disney-infinity-pc-game/pc-157022,PC,8.7,Action,N,2013,8,18
17108,17108,Great,Disney Infinity,/games/disney-infinity/wii-151088,Wii,8.7,Action,N,2013,8,18
17109,17109,Great,Disney Infinity,/games/disney-infinity/xbox-360-156948,Xbox 360,8.7,Action,N,2013,8,18
17110,17110,Great,Disney Infinity,/games/disney-infinity/wii-u-145797,Wii U,8.7,Action,N,2013,8,18
...,...,...,...,...,...,...,...,...,...,...,...
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

In [40]:
data['dummy'] = data.release_year*100 + data.release_month

In [41]:
data

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day,dummy
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12,201209
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11,201209
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11,201209
...,...,...,...,...,...,...,...,...,...,...,...,...
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29,201606
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29,201606
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28,201606
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28,201606
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28,201606

In [42]:
new_data = data[(data.dummy >= 201008) & (data.dummy <= 201503)]

In [43]:
new_data

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day,dummy
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12,201209
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11,201209
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11,201209
...,...,...,...,...,...,...,...,...,...,...,...,...
18191,18191,Good,Resident Evil Revelations 2 -- Episode 3,/games/resident-evil-revelations-2-episode-3/x...,Xbox One,7.5,"Action, Adventure",N,2015,3,10,201503
18192,18192,Great,DmC: Devil May Cry -- Definitive Edition,/games/dmc-devil-may-cry-definitive-edition/xb...,Xbox One,8.9,Action,N,2015,3,10,201503
18193,18193,Great,DmC: Devil May Cry -- Definitive Edition,/games/dmc-devil-may-cry-definitive-edition/ps...,PlayStation 4,8.9,Action,N,2015,3,10,201503
18194,18194,Great,Ori and The Blind Forest,/games/ori-and-the-blind-forrest/xbox-one-2001...,Xbox One,8.5,Platformer,N,2015,3,10,201503
18195,18195,Good,Far Cry 4: Valley of the Yetis,/games/far-cry-4-valley-of-the-yetis/ps4-20033470,PlayStation 4,7.6,Shooter,N,2015,3,9,201503

In [44]:
new_data.shape

(3733, 12)

In [45]:
new_data = new_data.drop('dummy', axis=1)

In [46]:
new_data.shape

(3733, 11)

In [47]:
new_data.drop([i for i in range(18191,18196)], axis=0, inplace=True)

In [48]:
new_data.shape

(3728, 11)

# Pandas String Functions

In [49]:
new_data['title'].str.lower().head()

0                              littlebigplanet ps vita
1    littlebigplanet ps vita -- marvel super hero e...
2                                 splice: tree of life
3                                               nhl 13
4                                               nhl 13
Name: title, dtype: object

In [50]:
new_data['title'].str.upper().head()

0                              LITTLEBIGPLANET PS VITA
1    LITTLEBIGPLANET PS VITA -- MARVEL SUPER HERO E...
2                                 SPLICE: TREE OF LIFE
3                                               NHL 13
4                                               NHL 13
Name: title, dtype: object

In [51]:
new_data['title'].str.len().head()

0    23
1    52
2    20
3     6
4     6
Name: title, dtype: int64

In [52]:
new_data['title'].str.strip().head()

0                              LittleBigPlanet PS Vita
1    LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                 Splice: Tree of Life
3                                               NHL 13
4                                               NHL 13
Name: title, dtype: object

In [53]:
new_data['title'].str.split(' ').head()

0                          [LittleBigPlanet, PS, Vita]
1    [LittleBigPlanet, PS, Vita, --, Marvel, Super,...
2                            [Splice:, Tree, of, Life]
3                                            [NHL, 13]
4                                            [NHL, 13]
Name: title, dtype: object

In [54]:
new_data['title'].str.cat(sep=' | ')

"LittleBigPlanet PS Vita | LittleBigPlanet PS Vita -- Marvel Super Hero Edition | Splice: Tree of Life | NHL 13 | NHL 13 | Total War Battles: Shogun | Double Dragon: Neon | Guild Wars 2 | Double Dragon: Neon | Total War Battles: Shogun | Tekken Tag Tournament 2 | Tekken Tag Tournament 2 | Wild Blood | Mark of the Ninja | Mark of the Ninja | Home: A Unique Horror Adventure | Home: A Unique Horror Adventure | Avengers Initiative | Way of the Samurai 4 | JoJo's Bizarre Adventure HD | JoJo's Bizarre Adventure HD | Mass Effect 3: Leviathan | Mass Effect 3: Leviathan | Mass Effect 3: Leviathan | Dark Souls (Prepare to Die Edition) | Symphony | Bastion | Tom Clancy's Ghost Recon Phantoms | Thirty Flights of Loving | Legasista | The Walking Dead: The Game -- Episode 3: Long Road Ahead | World of Warcraft: Mists of Pandaria | Hell Yeah! Wrath of the Dead Rabbit | Pokemon White Version 2 | War of the Roses | Pokemon Black Version 2 | Drakerider | The Walking Dead: The Game -- Episode 3: Long Road Ahead | The Walking Dead: The Game -- Episode 3: Long Road Ahead | The Walking Dead: The Game -- Episode 3: Long Road Ahead | Rock Band Blitz | Counter-Strike: Global Offensive | Worms Revolution | Worms Revolution | Worms Revolution | Bad Piggies | Resident Evil 6 | Resident Evil 6 | Shad'O | Demon's Score | NBA 2K13 | Counter-Strike: Global Offensive | The World Ends with You: Solo Remix | Counter-Strike: Global Offensive | The World Ends with You: Solo Remix | Counter-Strike: Global Offensive | Madden NFL 13 | Madden NFL 13 | Madden NFL 13 | Hoodwink | NBA 2K13 | NBA 2K13 | Lili: Child of Geos | Marvel vs. Capcom Origins | Marvel vs. Capcom Origins | Dead or Alive 5 | Dead or Alive 5 | Medal of Honor Warfighter | Professor Layton and the Miracle Mask | Hotline Miami | Edna & Harvey: Harvey's New Eyes | Medal of Honor Warfighter | Medal of Honor Warfighter | Transformers: Fall of Cybertron | Transformers: Fall of Cybertron | Hero Academy | Hero Academy | Puzzle Craft | Realms Of Ancient War | Realms Of Ancient War | Anomaly: Warzone Earth | Darksiders II | Left 4 Dead 2: Cold Stream | Left 4 Dead 2: Cold Stream | Puzzle Craft | Left 4 Dead 2: Cold Stream | Horn | Forza Horizon | FIFA Soccer 13 | Mugen Souls | Crazy Taxi | New Little King's Story | Fable: The Journey | The Lord of the Rings Online: Riders of Rohan | Doom 3: BFG Edition | Rugby League Live 2 | Rugby League Live 2 | Doom 3: BFG Edition | Punch Quest | He-Man: The Most Powerful Game in the Universe | Doom 3: BFG Edition | Dokuro | Naughty Bear: Panic in Paradise | Naughty Bear: Panic in Paradise | Borderlands 2: Captain Scarlett and her Pirate's Booty | Skylanders Giants | Borderlands 2: Captain Scarlett and her Pirate's Booty | Rayman: Jungle Run | FIFA Soccer 13 | FIFA Soccer 13 | Torchlight II | FIFA Soccer 13 | The Sims 3: Supernatural | Retro/Grade | Iron Brigade | Cafeteria Nipponica | Sleeping Dogs | Sleeping Dogs | Darksiders II | Papo & Yo | The Walking Dead: The Game -- Episode 4: Around Every Corner | The Walking Dead: The Game -- Episode 4: Around Every Corner | The Walking Dead: The Game -- Episode 4: Around Every Corner | Cortex Command | The Walking Dead: The Game -- Episode 4: Around Every Corner | Derrick the Deathfin | The Walking Dead: The Game -- Episode 4: Around Every Corner | XCOM: Enemy Unknown | XCOM: Enemy Unknown | Silent Hill: Book of Memories | Diaspora: Shattered Armistice | Pocket Clothier | Pocket Clothier | Ravaged | True Skate | Zero Escape: Virtue's Last Reward | Zero Escape: Virtue's Last Reward | The Walking Dead: The Game -- Episode 3: Long Road Ahead | Skylanders Giants | Skylanders Giants | Borderlands 2: Captain Scarlett and her Pirate's Booty | Devil's Attorney | Devil's Attorney | Code of Princess | SunFlowers | 007 Legends | Super Hexagon | Machinarium | Final Fantasy Dimensions | They Bleed Pixels | Jet Set Radio | Jet Set Radio | Jet Set Radio | Pro Evolution Soccer 2013 | F1 2012 | Darksiders II | Pitfall | Dust: An Elysian Tail | Hybrid | The Dark Knight Rises | 10000000 | The Political Machine 2012 | Sound Shapes | Sound Shapes | One Piece: Pirate Warriors | XCOM: Enemy Unknown | Dishonored | Dishonored | Dishonored | Angry Birds Trilogy | Angry Birds Trilogy | Angry Birds Trilogy | Girls Like Robots | Happy Wars | 007 Legends | Funky Smugglers | Colour Bind | WRC 3 FIA World Rally Championship | WRC 3 FIA World Rally Championship | Retro City Rampage | Retro City Rampage | Dance Central 3 | WRC 3 FIA World Rally Championship | Snapshot | F1 2012 | Pro Evolution Soccer 2013 | F1 2012 | Pro Evolution Soccer 2013 | Borderlands 2 | Borderlands 2 | Joe Danger: The Movie | Borderlands 2 | Sound Shapes | Persona 4 Arena | Persona 4 Arena | Hell Yeah! Wrath of the Dead Rabbit | Hell Yeah! Wrath of the Dead Rabbit | Retro City Rampage | The Unfinished Swan | Tokyo Jungle | Halo 4 | Halo 4 (Limited Edition) | Zone of the Enders HD Collection | Harvest Moon: A New Beginning | Zone of the Enders HD Collection | Borderlands Legends | Borderlands Legends | Okami HD | Ragnarok Odyssey | Need for Speed Most Wanted | Pid | Pid | Pid | Need for Speed Most Wanted | Assassin's Creed III | Need for Speed Most Wanted | Assassin's Creed III: Liberation | Smart As... | Assassin's Creed III | Need for Speed Most Wanted | WWE '13 | Street Fighter x Tekken | WWE '13 | Chivalry: Medieval Warfare | Sonic Jump | F1 Race Stars | Call of Duty: Black Ops II | F1 Race Stars | Midway Arcade Origins | Midway Arcade Origins | Call of Duty: Black Ops II | Call of Duty: Black Ops II | When Vikings Attack | When Vikings Attack | Freakyforms Deluxe: Your Creations, Alive! | Painkiller: Hell & Damnation | Transformers Prime | Angry Birds Star Wars | Farming Simulator 2013 | Paper Mario: Sticker Star | Lucius | LittleBigPlanet Karting | Primal Carnage | Natural Selection 2 | Symphonica: Grand Maestro | Football Manager 2013 | The Walking Dead: The Game -- Episode 5: No Time Left | The Walking Dead: The Game -- Episode 5: No Time Left | The Walking Dead: The Game -- Episode 5: No Time Left | The Walking Dead: The Game -- Episode 5: No Time Left | Football Manager 2013 | Need for Speed Most Wanted | Orgarhythm | Sports Champions 2 | Kinect Party | Sky Gamblers: Storm Raiders | Oddworld: Stranger's Wrath HD | AirBuccaneers | Theatrhythm Final Fantasy | Sing Party | Beatdown! | Waking Mars | Waking Mars | Hitman: Absolution | Hitman: Absolution | ZombiU | Grand Theft Auto: Vice City | Street Fighter X Mega Man | Sonic & All-Stars Racing Transformed | Sonic & All-Stars Racing Transformed | The Sims 3: Seasons | Tank! Tank! Tank! | Guardians of Middle-earth | Ratchet & Clank: Full Frontal Assault | Page Chronica | Hitman: Absolution | Batman: Arkham City -- Armored Edition | Disney Epic Mickey 2: The Power of Two | Disney Epic Mickey 2: The Power of Two | Darksiders II | Scribblenauts Unlimited | Call of Duty: Black Ops Declassified | Fallen Enchantress | Guns of Icarus Online | Miner Wars 2081 | Guardians of Middle-earth | The Elder Scrolls V: Skyrim -- Dragonborn | Baldur's Gate -- Enhanced Edition | Black Knight Sword | Black Knight Sword | The Walking Dead: A Telltale Game Series -- Season One | Sonic & All-Stars Racing Transformed | New Super Mario Bros. U | Sonic & All-Stars Racing Transformed | Nintendo Land | ARC Squadron | Ninja Gaiden III: Razor's Edge | The Walking Dead: A Telltale Game Series -- Season One | The Walking Dead -- Game of the Year Edition | The Walking Dead: A Telltale Game Series -- Season One | Real Boxing | Baldur's Gate -- Enhanced Edition | Crashmo | PlanetSide 2 | Disney Epic Mickey 2: The Power of Two | The Walking Dead: A Telltale Game Series -- Season One | The Walking Dead: A Telltale Game Series -- Season One | Strike Suit Zero | Final Fantasy: All The Bravest | Tokyo Crash Mobs | Ni no Kuni: Wrath of the White Witch | Marvel's The Avengers: Battle For Earth | Borderlands 2: Sir Hammerlock's Big Game Hunt | Assassin's Creed III | Chasing Aurora | Adventure Time: Hey Ice King! Why'd You Steal Our Garbage? | Madden NFL 13 | Warriors Orochi 3 Hyper | Transformers Prime | Skylanders Battlegrounds | Rage of the Gladiator | FIFA Soccer 13 | Family Guy: Back to the Multiverse | Family Guy: Back to the Multiverse | Little Inferno | Little Inferno | The Walking Dead -- Game of the Year Edition | The Walking Dead -- Game of the Year Edition | The Walking Dead: A Telltale Game Series -- Season One | Minigore 2: Zombies | Jet Set Radio | Forge | Nancy Drew: The Deadly Device | Into the Dead | Just Dance 4 | Borderlands 2: Sir Hammerlock's Big Game Hunt | Borderlands 2: Sir Hammerlock's Big Game Hunt | DmC: Devil May Cry | Unchained Blades | DmC: Devil May Cry | The Earth Defense Force 2017 Portable | 007 Legends | Wraithborne | Persona 4 Golden | Call of Duty: Black Ops II | Rabbids Land | Tekken Tag Tournament 2: Wii U Edition | Far Cry 3 | Madden NFL 13 | Far Cry 3 | Little Inferno | Little Inferno | Little Inferno | Little Inferno | Little Chomp | Trine 2: Director's Cut | LEGO The Lord of the Rings [Portable] | LEGO The Lord of the Rings [Portable] | LEGO The Lord of the Rings | Writer Rumble | Mass Effect | Guilty Gear XX Accent Core Plus | Guilty Gear XX Accent Core Plus | Uncharted: Fight For Fortune | Modern Combat 4: Zero Hour | Wonderbook: Book  of Spells | Rift: Storm Legion | Joe Danger | DmC: Devil May Cry | Anarchy Reigns | Anarchy Reigns | Kentucky Route Zero: Act 1 | Primordia | Mutant Mudds | Far Cry 3 | Mass Effect 3 (Special Edition) | Nano Assault Neo | Disney Epic Mickey: Power of Illusion | Assassin's Creed III | Borderlands 2: Mr. Torgue's Campaign of Carnage | Scribblenauts Unlimited | Borderlands 2: Mr. Torgue's Campaign of Carnage | PlayStation All-Stars Battle Royale | Jetpack Joyride | LEGO The Lord of the Rings | The Walking Dead: Assault | Miasmata | Bladeslinger: Episode 1 | Funky Barn | ESPN Sports Connection | Sonic & All-Stars Racing Transformed | Infestation: Survivor Stories | Labyrinth Legends | Ace of Spades | Monsters Inc. Run | Pudding Monsters | Borderlands 2: Mr. Torgue's Campaign of Carnage | PlayStation All-Stars Battle Royale | NBA 2K13 | The Walking Dead: The Game -- Episode 5: No Time Left | Top Gun | Hints Hunter | MonsTeca Corral | Space Trek | Kane & Lynch 2: Dog Days | Spider-Man: Shattered Dimensions | Batman: The Brave and the Bold | R.U.S.E. | Puzzle Agent | Kane & Lynch 2: Dog Days | Lara Croft and the Guardian of Light | Splode | Rhythm Core Alpha | Turn: The Lost Artifact | Ghosts 'N Goblins: Gold Knights II | Did It Myself ABC123 | My Farm | Kane & Lynch 2: Dog Days | Hasbro Family Game Night: Jenga | Hasbro Family Game Night: Connect 4x4 | Madden NFL 11 | Tom Clancy's Splinter Cell: Conviction | Monday Night Combat | Plants vs. Zombies | Spider-Man: Shattered Dimensions | R.U.S.E. | Mirror's Edge [2D Edition] | Amnesia: The Dark Descent | Tales of Elastic Boy: Mission 1 | Start the Party | NHL 11 | Absolute Chess | Arc Rise Fantasia | Chaos Rings | My Aquarium 2 | Enjoy Your Massage! | Little Things | The Incident [2010] | Madden NFL 11 | Madden NFL 11 | Spider-Man: Total Mayhem | Sports Champions | Kung Fu Rider | BioShock 2: Minerva's Den | Petz: Dogz Family | Press Your Luck: 2010 Edition | Wedding Dash 4-Ever | No, Human | Shank | Shank | Mafia II | Mafia II | Madden NFL 11 | Madden NFL 11 | Absolute BrickBuster | Crystal Monsters | Furry Legends | Dark Nebula 2 | Disney Sing It: Family Hits | Need for Speed World | NHL 11 | Cosmos X2 | Kingdom Hearts: Birth by Sleep | MyNotebook: Pearl | Castle Crashers | Music On: Learning Piano | Ivy the Kiwi | EyePet: Your Virtual Pet | Scott Pilgrim vs. The World: The Game | HoopWorld | Face Pilot: Fly With Your Nintendo DSi Camera! | Monster Rancher DS | Guilty Party | Match Up | Disciples III: Renaissance | Dead Rising 2: Case 0 | NHL Slapshot (Game & Hockey Stick) | Valkyria Chronicles II | NHL 2K11 | DoDonPachi Resurrection | Mafia II | Jaws | Ys Seven | Monster Dash | Zombie Escape | Top Gun 2 | Archetype HD | Disney Sing It: Family Hits | Osmos | Arctic Adventures: Polar's Puzzles | Earthworm Jim HD | NFL 2011 | We Farm | Tumble | Racquet Sports | Ivy the Kiwi | Coconut Dodge | Drawn: Dark Flight | Absolute Reversi | And Yet It Moves | Petz: Hamsterz Family | Rytmik | Metroid: Other M | Hasbro Family Game Night: Pictureka | Puffins: Let's Race | 3D Mahjong | MyNotebook: Carbon | Just Sing! National Anthems | Little League World Series Baseball 2010 | Divergent Shift | Little League World Series Baseball 2010 | Meow Meow Happy Fight | Gorillaz: Escape to Plastic Beach | Castlevania: Harmony of Despair | Dive: The Medes Islands Secret | SimCity Deluxe | Razor2: Hidden Skies | Gorillaz: Escape to Plastic Beach | Phantasy Star II | R-Type | NHL 2K11 | G.G. Series -- Ninja Karakuri Den | Scott Pilgrim vs. The World: The Game | BlayzBloo: Super Melee Brawlers Battle Royale | Lara Croft and the Guardian of Light | We Doodle | Costume Quest | We Doodle | Gladiator Begins | Final Fantasy: Mystic Quest | DJ Hero 2 | Saw II: Flesh & Blood | Rock of the Dead | EA Sports MMA | Fallout: New Vegas | Just Dance 2 | Fallout: New Vegas | EA Sports MMA | DeathSpank: Thongs of Virtue | Fruit Ninja | The Lord of the Rings: Aragorn's Quest | DeathSpank: Thongs of Virtue | Truth or Lies | Castlevania: Lords of Shadow | Crush the Castle | Hydrophobia | Samurai Warriors 3 | Borderlands: Claptrap's New Robot Revolution | Fallout: New Vegas | Star Battalion | Vanquish | Vanquish | Game Dev Story | Lost Planet 2 | Super Meat Boy | Transformers G1: Awakening | Naruto: Ultimate Ninja Storm 2 | Pro Evolution Soccer 2011 | Atelier Rorona: The Alchemist of Arland | Front Mission Evolved | Pro Evolution Soccer 2011 | John Daly's ProStroke Golf | Avatar: The Game | Naruto: Ultimate Ninja Storm 2 | Patrician IV: Conquest By Trade | Robot Unicorn Attack Heavy Metal | Dead Space Ignition | The Lord of the Rings: Aragorn's Quest | Recettear: An Item Shop's Tale | The Lord of the Rings: Aragorn's Quest | Aero the Acrobat 2 | City of Heroes: Going Rogue | Space Invaders Infinity Gene | The Lord of the Rings: Aragorn's Quest | Sid Meier's Civilization V | The Lord of the Rings: Aragorn's Quest | Sonic the Hedgehog 4: Episode I | Sonic the Hedgehog 4: Episode I | NBA 2K11 | FIFA Soccer 11 | Soccer Superstars | Guitar Hero: Warriors of Rock | Naughty Bear | FIFA Soccer 11 | Texting of the Bread | FIFA Soccer 11 | Solipskier | Truth or Lies | Blade Kitten | Battlefield: Bad Company 2 (Ultimate Edition) | Super Mega Worm | Battlefield: Bad Company 2 (Ultimate Edition) | Assassin's Creed: Altair's Chronicles | Halo: Reach (Limited Edition) | Halo: Reach (Legendary Edition) | John Daly's ProStroke Golf | Borderlands (Game of the Year Edition) | Sam & Max: The Devil's Playhouse | NBA 2K11 | Front Mission Evolved | Shantae: Risky's Revenge | Front Mission Evolved | Sam & Max: The Devil's Playhouse | Enslaved | Dead Space Ignition | Medal of Honor | Alan Wake: The Writer | Sengoku Basara: Samurai Heroes | Arcania: Gothic IV | Sengoku Basara: Samurai Heroes | Medal of Honor | Medal of Honor | Arcania: Gothic IV | Slice It | Pizza Boy | Steve Young Football | Puzzle Quest 2 | Space Invaders Infinity Gene | The Sims 3: Ambitions | Mafia II: Jimmy's Vendetta | Time Crisis 2nd Strike | UFC Undisputed 2010 | Sonic the Hedgehog 4: Episode I | Super Scribblenauts | Cut the Rope | Modern Combat 2: Black Pegasus | MySims SkyHeroes | Def Jam Rapstar | Def Jam Rapstar | R.U.S.E. | Blade Kitten | Blade Kitten | Shibuya | Gangstar: Miami Vindication | Dead Rising 2 | Darksiders | Dead Rising 2 | Sonic Adventure | Halo: Reach | Professor Layton and the Unwound Future | Ace Combat: Joint Assault | Dragon Age: Origins -- Witch Hunt | Dragon Age: Origins -- Witch Hunt | Dragon Age: Origins -- Witch Hunt | TerRover | Mafia II: Jimmy's Vendetta | Fenimore Fillmore -- The Westerner | Zenonia | UFO on Tape | Enslaved | Brunswick Pro Bowling | Alien Breed 2: Assault | Dead Rising 2 (Zombrex Edition) | Invizimals | FIFA Soccer 11 | Etrian Odyssey III: The Drowned City | FIFA Soccer 11 | Final Fantasy XIV Online | Fatal Fury 3: Road to the Final Victory | ClaDun: This is an RPG | MySims SkyHeroes | MySims SkyHeroes | Shark or Die | Sonic Adventure | Grand Theft Auto: Chinatown Wars | Left 4 Dead 2: The Sacrifice | Alien Breed 2: Assault | Quantum Theory | Quantum Theory | Swords & Soldiers | Final Fantasy: The 4 Heroes of Light | NBA Jam | Serious Sam HD: The Second Encounter | Mafia II: Jimmy's Vendetta | Mass Effect 2: Lair of the Shadow Broker | Harvest Moon: Grand Bazaar | Mass Effect 2: Lair of the Shadow Broker | Spider-Man: Shattered Dimensions | Batman: The Brave and the Bold | Samurai Shodown III: Blades of Blood | Spider-Man: Shattered Dimensions | Tom Clancy's HAWX 2 | WWE SmackDown vs. Raw 2011 | The Sims 3: Late Night | Lara Croft and the Guardian of Light | DJ Hero 2 | Saw II: Flesh & Blood | Star Wars: The Force Unleashed II | FIFA Soccer 11 | Dead Rising 2 (Zombrex Edition) | Worms Reloaded | Guitar Hero: Warriors of Rock | Dead Rising 2 | Castlevania: Lords of Shadow | Truth or Lies | Sonic the Hedgehog 4: Episode I | Pokemon Ranger: Guardian Signs | Phantasy Star Portable 2 | Comic Jumper: The Adventures of Captain Smiley | Wii Party | Bubble Bobble Double | Bit.Trip Beat | NBA 2K11 | Elemental: War of Magic | Shaun White Skateboarding | DJ Max Portable 3 | Time Crisis: Razing Storm | Fable III | Rock Band 3 | God of War: Ghost of Sparta | The Ball | Rock Band 3 | Guitar Hero: Warriors of Rock | MySims SkyHeroes | FIFA Soccer 11 | The Shoot | EA Sports MMA | Buck and the Coin of Destiny | Angry Birds Seasons | Angry Birds Halloween HD | WWE SmackDown vs. Raw 2011 | WWE SmackDown vs. Raw 2011 | Costume Quest | Reckless Racing | Create | Pictionary [2010] | Clones | EA Sports Active 2 | Nail'd | Spin Master | Splatterhouse | Michael Jackson: The Experience | Super Meat Boy | Zen Bound 2 | Pac-Man Championship Edition DX | Nail'd | Splatterhouse | Frenzic | Your Shape: Fitness Evolved | Atari's Greatest Hits Volume 1 | Need for Speed: Hot Pursuit | Disney Epic Mickey | Who's That Flying!? | Gran Turismo 5 | LEGO Harry Potter: Years 1-4 | Beyblade: Metal Fusion | Fable III: Understone Quest Pack | Robot Unicorn Attack Christmas Edition | Dead Nation | Need for Speed: Hot Pursuit | DeathSpank: Thongs of Virtue | Family Feud Decades | Street Slam | Silverfish | Trucks and Skulls | Dragon's Lair | Babysitting Mama | Flip's Twisted World | Bit.Trip Beat | Hoard | Need for Speed: Hot Pursuit | Voice Fantasy | FlingSmash | The Sims 3 | Monopoly Streets | Max & the Magic Marker | Capcom Arcade | Baseball Superstars 2011 | Golden Sun: Dark Dawn | Majin and the Forsaken Kingdom | Split/Second | Majin and the Forsaken Kingdom | Apache: Air Assault | Naruto Shippuden: Dragon Blade Chronicles | Beyblade: Metal Fusion -- Battle Fortress | Battle of Giants: Dinosaurs Strike | Call of Duty: Black Ops | Gods vs. Humans! | Rock Band 3 | Zombie Crisis 3D | The UnderGarden | Call of Duty: Black Ops | Tom Clancy's HAWX 2 | Pound of Ground | GoldenEye 007 | Kinect Sports | Star Wars: The Force Unleashed II | Kinect Joy Ride | Kinectimals | Fist of the North Star: Ken's Rage | Splatterhouse [1988] | Mutant Bash TV | Apache: Air Assault | Bejeweled Live | Motionsports | Nimbus | O.M.G. | Frogger | Fist of the North Star: Ken's Rage | Flight Control | Lufia: Curse of the Sinistrals | Crafting Mama | Glow Artisan | GoldenEye 007 | Lucha Libre AAA: Heroes del Ring | Alien Breed Impact | Sonic Free Riders | Wackylands Boss | Namco Museum Megamix | Poker Night at the Inventory | Monopoly Streets | Crazy Taxi | Star Wars: The Battle for Hoth | Crazy Taxi | Call of Duty: Black Ops | TV SuperStars | EyePet: Your Virtual Pet | Spider-Man: Total Mayhem HD | Call of Duty: Black Ops | Gobliiins | DanceMasters | Blood Drive | Blood Drive | Uno [2006] | Star Wars: The Force Unleashed II | Deadliest Warrior: The Game | Cooking Dash 

In [55]:
new_data['score_phrase'].head()

0    Amazing
1    Amazing
2      Great
3      Great
4      Great
Name: score_phrase, dtype: object

In [56]:
new_data['score_phrase'].str.get_dummies().head()

,Amazing,Awful,Bad,Good,Great,Masterpiece,Mediocre,Okay,Painful,Unbearable
0,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0

In [57]:
data[data.platform.str.contains('PlayStation')]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day,dummy
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12,201209
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11,201209
8,8,Awful,Double Dragon: Neon,/games/double-dragon-neon/ps3-131321,PlayStation 3,3.0,Fighting,N,2012,9,11,201209
10,10,Good,Tekken Tag Tournament 2,/games/tekken-tag-tournament-2/ps3-124584,PlayStation 3,7.5,Fighting,N,2012,9,11,201209
...,...,...,...,...,...,...,...,...,...,...,...,...
18610,18610,Okay,Song of the Deep,/games/song-of-the-deep/ps4-20048663,PlayStation 4,6.0,Adventure,N,2016,7,12,201607
18615,18615,Amazing,Zero Time Dilemma,/games/zero-time-dilemma/vita-20039757,PlayStation Vita,9.2,Adventure,Y,2016,6,29,201606
18617,18617,Great,Abzu,/games/abzu/ps4-20019841,PlayStation 4,8.4,Adventure,N,2016,8,2,201608
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29,201606
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28,201606

In [58]:
new_data['title'].str.replace(' ','_').head()

0                              LittleBigPlanet_PS_Vita
1    LittleBigPlanet_PS_Vita_--_Marvel_Super_Hero_E...
2                                 Splice:_Tree_of_Life
3                                               NHL_13
4                                               NHL_13
Name: title, dtype: object

In [59]:
new_data['score_phrase'].str.repeat(3).head()

0    AmazingAmazingAmazing
1    AmazingAmazingAmazing
2          GreatGreatGreat
3          GreatGreatGreat
4          GreatGreatGreat
Name: score_phrase, dtype: object

In [60]:
new_data['title'].head()

0                              LittleBigPlanet PS Vita
1    LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                 Splice: Tree of Life
3                                               NHL 13
4                                               NHL 13
Name: title, dtype: object

In [61]:
new_data['title'].str.count(' ').head()

0    2
1    7
2    3
3    1
4    1
Name: title, dtype: int64

In [62]:
new_data['score_phrase'].str.startswith('A').head()

0     True
1     True
2    False
3    False
4    False
Name: score_phrase, dtype: bool

In [63]:
new_data['score_phrase'].str.endswith('g').head()

0     True
1     True
2    False
3    False
4    False
Name: score_phrase, dtype: bool

In [64]:
new_data['title'].head()

0                              LittleBigPlanet PS Vita
1    LittleBigPlanet PS Vita -- Marvel Super Hero E...
2                                 Splice: Tree of Life
3                                               NHL 13
4                                               NHL 13
Name: title, dtype: object

In [65]:
new_data['title'].str.find('a').head()

0    11
1    11
2    -1
3    -1
4    -1
Name: title, dtype: int64

In [66]:
new_data['title'].str.findall('a').head()

0       [a, a]
1    [a, a, a]
2           []
3           []
4           []
Name: title, dtype: object

In [67]:
new_data['title'].str.swapcase().head()

0                              lITTLEbIGpLANET ps vITA
1    lITTLEbIGpLANET ps vITA -- mARVEL sUPER hERO e...
2                                 sPLICE: tREE OF lIFE
3                                               nhl 13
4                                               nhl 13
Name: title, dtype: object

In [68]:
new_data['title'].str.isupper().head()

0    False
1    False
2    False
3     True
4     True
Name: title, dtype: bool

In [69]:
new_data['title'].str.islower().head()

0    False
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [70]:
new_data['title'].str.isnumeric().head()

0    False
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [71]:
data.score

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64